<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/api.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/vant.css">
    <link rel="stylesheet" href="../../css/me/me-secret-key.css">
    <style media="screen">
    </style>
    <title>Document</title>
</head>

<body>
    <div id="app" @click="close" v-cloak>
        <div id="popup" @click.stop>
            <img src="../../image/icons/close.png" alt="" @click.stop="close">
            <p class="popuptitle">输入密匙</p>
            <ul>
                <li>
                    <span v-if="value.length >= 1"></span>
                </li>
                <li>
                    <span v-if="value.length >= 2"></span>
                </li>
                <li>
                    <span v-if="value.length >= 3"></span>
                </li>
                <li>
                    <span v-if="value.length >= 4"></span>
                </li>
                <li>
                    <span v-if="value.length >= 5"></span>
                </li>
                <li>
                    <span v-if="value.length >= 6"></span>
                </li>
            </ul>
        </div>
        <div @click.stop>
          <van-number-keyboard :show="show" theme="custom" extra-key="." close-button-text="完成" @blur="finish" @input="onInput" @delete="onDelete" />
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/vant.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript">
    apiready = function() {
        var app = new Vue({
            el: "#app",
            data: {
                show: true,
                value: '',
            },
            methods: {
                close() {
                  sends('closeSecret')
                },
                onInput(value) {
                    if (this.value.length == 6) {
                        return
                    }
                    this.value += value
                },
                onDelete() {
                    if (this.value) {
                        this.value = this.value.slice(0, (this.value.length - 1))
                    }
                },
                finish() {
                    if (!this.value || this.value.length < 6) {
                        return
                    }
                    sends('closeSecret')
                    sends('openSecretError')
                }
            },
            mounted() {

            }
        })
    }
</script>

</html>
