#app {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    animation: myfirst 0.6s;
}

#popup {
    background: #fff;
    position: absolute;
    bottom: 350px;
    width: 72.53vw;
    left: 13.73vw;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0 8.13vw 13.47vw;
}

ul li {
    width: 7.73vw;
    height: 9.73vw;
    background-color: #f6f6f6;
    border-radius: 1.47vw;
    line-height: 9.73vw;
    text-align: center;
}

ul li>span {
    width: 2vw;
    height: 2vw;
    background: #333;
    border-radius: 50%;
    display: inline-block;
}
