html,body{
  background: transparent;
  width: 100%;
  height: 100%;
}
#mask{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0);
}
.mint-popup{
  background: rgba(0,0,0,0)
}
#popup {
  background: #fff;
  animation: myfirst 0.6s;
}
#popup .popuptitle{
  padding-top: 6vw;
  line-height: 22.54vw!important;
}
#popup div.btns{
  height: 13.47vw;
  align-items: center;
  padding: 0 4.67vw;
}
#popup div.btns span{
  width: 20vw;
  height: 7.33vw;
  line-height: 7.33vw;
  border-radius: 3.67vw;
  border: solid 0.2vw #1e64c1;
  color: #1e64c1;
}
.van-overlay{
  background-color: rgba(0,0,0,0.4)
}
.van-dialog__footer--buttons{
  display: none;
}
.van-dialog{
  width: auto;
}
#popup div.btns{
  width: 38.27vw;
  margin: 0 auto 4.8vw;
  border-top: 0;
}
#popup div.btns span{
  width: 38.27vw;
  line-height: 8.93vw;
  background-color: #ffffff;
  border-radius: 4.47vw;
  border: solid 0.2vw #1e64c1;
}
